<nav>
	<a href="/page/v1/dashboard">Dashboard</a>
	<a href="/page/v1/job">Job</a>
	<a href="/page/v1/dbconfig">Database</a>
	<a href="/page/v1/user">User</a>
	<a href="/page/v1/profile">Profile</a>
</nav>
