<div id="job-header">
	<h1>Job Management</h1>
	<button id="btnAddJob">Create New Job</button>
</div>
<div id="job-body">
	<table id="jobTable">
		<thead>
			<tr>
				<th>Job ID</th>
				<th>Name</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<!-- Data jobs akan diisi oleh JavaScript -->
		</tbody>
	</table>
</div>
