/* index.css */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
}

a {
	color: #0077cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#navbar {
	background-color: #f4f4f4;
	padding: 10px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar nav a {
	margin: 0 20px;
}
