#profile-container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#profile-container h1 {
	font-size: 30px;
	text-align: center; /* Centers the text horizontally within the h1 element */
}

.form-group {
	margin: 20px 20px 20px 0px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.profile-button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.profile-button:hover {
	background-color: #0056b3;
}

#signOutButton {
	background-color: #ff4c4c; /* Red color */
	color: white; /* White text color */
	width: 540px;
	margin-top: 20px;
	margin-left: auto; /* Centers the button horizontally */
	margin-right: auto; /* Centers the button horizontally */
}

#signOutButton:hover {
	background-color: #e04343; /* Slightly darker red on hover */
}
